* {
  box-sizing: border-box;
}

.container,
.block {
  width: 250px;
  height: 100px;
}

.container {
  margin: auto;
  position: relative;
}

.block {
  border-radius: 10px;
  background-color: coral;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  position: absolute;
  animation-name: move;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes move {
  from {
    top: -100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
